{% extends 'base.html.twig' %}


{% block title property.title %}

{% block body %}

    <div class="jumbotron">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4">
                    <h1>{{ property.title }}</h1>
                    <h2> {{ property.bedrooms }} pieces {{ property.surface }} m</h2>
                    <div class="text-primary" style="font-weight:bold; font-size: 4rem"> {{ property.price | number_format(0, '', ' ') }} $</div>
                    <a href="#" class="btn btn-primary"> Contacter Nous</a>
                </div>

                </dev>
            </div>
    </div>
    <div class="container">
            <p>
                {{ property.description | nl2br }}
            </p>

            <div class="row">
                <div class="col-md-8">
                    <h2>Caracteristiques</h2>
                    <table class="table table-striped">
                        <tr>
                            <td>Surface Habitable</td>
                            <td> {{ property.surface }}</td>
                        </tr>
                        <tr>
                            <td>Piece</td>
                            <td> {{ property.bedrooms }}</td>
                        </tr>
                        <tr>
                            <td>Etage</td>
                            <td> {{ property.floor }}</td>
                        </tr>
                        <tr>
                            <td>Chauffages</td>
                            <td> {{ property.typeHeat }}</td>
                        </tr>
                    </table>

                </div>
                <div class="col-md-4">
                    <h2>Specifities </h2>
                </div>
            </div>
    </div>

{% endblock %}


